<div class=" flex justify-center px-20">
  <div class="flex items-center p-6 space-x-6 bg-white rounded-xl shadow-lg hover:shadow-xl transform hover:scale-105 transition duration-500">
    <div class="flex  p-4 w-72 space-x-4 rounded-lg">
      <input id="inputTitre" class="bg-gray-100 outline-none" type="text" placeholder="Titre" />
    </div>
    <div class="flex py-3 px-4 rounded-lg text-gray-500 font-semibold cursor-pointer">
      <select name="categorie" id="selectCat">
        <option value="ttCat">-- Choisir une categorie --</option>
          {% for categorie in categories %}
            <option value="{{ categorie.id }}">{{ categorie.nomCategorie }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="flex py-3 px-4 rounded-lg text-gray-500 font-semibold cursor-pointer">
      <select name="genre" id="selectGenre">
        <option value="ttGenre">-- Choisir un genre --</option>
          {% for genre in genres %}
            <option value="{{ genre.id }}">{{ genre.nomGenre }}</option>
          {% endfor %}
      </select>
    </div>
    <div class="bg-gray-800 py-3 px-5 text-white font-semibold rounded-lg hover:shadow-lg transition duration-3000 cursor-pointer">
      <button onclick=rechercheTitre() >Rechercher</button>
    </div>   
  </div>
</div>


<script>
function rechercheTitre() {
 
  let inputTitre = document.getElementById("inputTitre").value;
  let selectCat = document.getElementById('selectCat').value;
  let selectGenre = document.getElementById('selectGenre').value;
console.log(selectCat,selectGenre,inputTitre);

 let listeparR = {
    titre: inputTitre,
    categorie: selectCat,
    genre: selectGenre,
  };

  let params = {
    method: "POST",
    headers: {
      "Content-Type": "application/json; charset=utf-8",
    },
    body: JSON.stringify(listeparR),
  };

  fetch("https://sanaa-thot.simploncertif.fr/api/article/recherche", params)
    .then((res) => res.text())
    .then((data) => {
      if (data!=='[]'){
        resultRech(JSON.parse(data))
      } else {
        let result = document.getElementById('result');
        result.innerHTML = 'Aucun';
      }
    });
}

function resultRech(articles) {
  let result = document.getElementById('result');
 result.innerHTML = '';

  articles.forEach(article => {
    console.log(article);
    if (article.statut_article == true){
        result.innerHTML+=` <div class='shadow-xl m-6'>
                    <h2> ` + article.titre_article +`</h2>
                    <article></article>
                    <p></p>
                    <div>
                    </div>
                    <a href="https://sanaa-thot.simploncertif.fr/article/` + article.id + `">show</a>
                </div>`
    }
  });

  }
</script>
